{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% if alert %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        "Password and Confirm Password did'nt matched!"
    </div>
    {% endif %}
    <form action="/register/" method="POST"> {% csrf_token %}
        <div class="container mt-5">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username"
                    value="{% if alert %}{{username}}{% endif %}">
            </div>
            <div class="mb-3">
                <label for="first_nam" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name"
                    value="{% if alert %}{{first_name}}{% endif %}">
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name"
                    value="{% if alert %}{{last_name}}{% endif %}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email"
                    value="{% if alert %}{{email}}{% endif %}">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password1" name="password1">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}